@import "/src/assets/styles/variables/colors.scss";

.product-card {
	max-width: 345px;
	.card-media {
		max-height: 250px;
	}

	.action {
		padding: 0;
		.MuiGrid-container {
			& > div {
				background-color: $primary-color;
				display: flex;
				justify-content: space-around;
			}
		}
	}
}
